@font-face{
  font-family: Borel;
  src:url("./files/Borel/Borel-Regular.ttf")
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-image: url(files/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  height: 300px;
  position: sticky;
  top: 0px;
  flex-wrap: wrap;
  z-index: 5;
  gap: 15px;
}

header > h1:hover {
  color: rgb(209, 195, 222);
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: end;
}

a {
  color: white;
  text-decoration: overline;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  height: 500px;
  gap: 20px;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

.characters {
  background-repeat: no-repeat;
  border-radius: 20px;
  color: white;
  font-family: cursive;
  font-size: larger;
  text-align: center;
  zoom: 1;
  transition: 0.5s;
  height: 500px;
  position: relative;
}

.char1 {
  background-image: url(files/joy.png);
  font-family: "Meow Script", cursive;
  font-style: normal;
}

.char2 {
  background-image: url(files/sadness.png);
}

.char3 {
  background-image: url(files/anger.png);
  font-family: Borel;
}

.char4 {
  background-image: url(files/fear.png);
}

.char5 {
  background-image: url(files/calm.png);
}

.char6 {
  background-image: url(files/curiosity.png);
}

.characters:hover {
  zoom: 1.1;
}

@media (max-width: 542px) {
  .fa-solid {
    text-indent: -9999px;
  }
  .header-title {
    font-size: 25px;
  }
  header {
    height: 150px;
  }
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .characters {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .characters {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .gallery {
    grid-template-columns: 1fr;
  }
  .characters {
    font-size: 20px;
  }
}

.fa-circle-info {
  position: absolute;
  top: 10px;
  left: 10px;
}

.fa-circle-info:hover {
  color: rgb(209, 195, 222);
}

a:hover {
  color: rgb(24, 169, 217);
}

footer {
  background-color: darkgray;
  height: 50px;
  color: white;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

main {
  padding: 10px 50px;
  flex: 1;
}

footer > i:hover {
  color: rgb(209, 195, 222);
}

